body { 
    max-width: 80%;
    margin: auto;
    background-color: #A3BCB6;
    font-size: 17px;
}

h1 {
    color: #39603D;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: #3C403D;    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-size {
    max-width: 100%;
    width: 300px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #DADED4;
    color: #3C403D;
    border-radius: 2em;
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    font-weight: 200;
    text-align: center;
    border: none;
    margin: 1.5%;
    font-size: 1.2em;
    width: 300px;
    height: 60px;
}


@media only screen and (min-width: 600px) {
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.7em;
    }

    .img-size {
        width: 400px;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        flex-wrap: wrap;
        font-size: 1.1em;
        width: 200px;
        height: 80px;
    }
}

@media only screen and (min-width: 820px) {
    body {
        font-size: 0.8em;
    }

    h1 {
        font-size: 3.2em;
    }

    .img-size {
        width: 500px;
    }

    .buttons {
        flex-wrap: nowrap;
    }

    .btn {
        font-size: 1.5em;
    }
}
